body {
    font-family: "Playfair Display", "Palatino Linotype", "Book Antiqua", "Georgia", serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background-image: url("../img/bg.jpg");
}

.container {
    padding: 20px;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    margin: 0 auto;
}

.social {
    display: flex;
    justify-content: space-between;
}

.social::before, .social::after {
    content: "";
}

.social a {
    display: inline-flex;

}

/** Small devices (landscape phones, 576px and up) **/
@media (min-width: 576px) {  }

/** Medium devices (tablets, 768px and up) **/
@media (min-width: 768px) {
    .container { width: 700px }
}

/** Large devices (desktops, 992px and up) **/
@media (min-width: 992px) {  }

/** Extra large devices (large desktops, 1200px and up) **/
@media (min-width: 1200px) {
    .container { width: 1200px }
}
